* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7ffff;
  color: #343432;
}
h1,
h2,
h3 {
  margin-bottom: 15px;
}
h1,
h2 {
  text-align: center;
}
header {
  width: 100vw;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1735812824519-0c4911407ec1?q=80&w=1652&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#logo {
  width: 180px;
}
main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 70%;
}
.icons {
  width: 50px;
  margin: 10px 20px;
}
#icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#pink {
  color: #ff6da9;
}
#teal {
  color: #4bd6d3;
}
li {
  list-style: none;
}

ul {
  margin: 20px 0px;
}
#contact {
  width: max-content;
  margin: 30px 0px 0px 0px;
}
section {
  margin: 30px 0px 0px 0px;
  max-width: 80%;
}

#reviews p {
  font-style: italic;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 30px;
  margin-top: 50px;
  background-color: #4bd6d3;
  width: 100vw;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#floating-contact {
  background-color: #f7ffff;
  width: 155px;
  padding: 16px;
  height: 60px;
  border: 3px solid #ff6da9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  position: fixed;
  right: 30px;
  bottom: 40px;
  text-decoration: none;
}
a:visited {
  color: #343432;
}
#floating-contact img {
  margin: 0;
}
#call-btn-text {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  color: #343432;
}
#facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  width: 120px;

  background-color: #ff6da9;
  color: #f7ffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  margin: 10px;
}
.cards p {
  margin-top: 8px;
}
#works {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 750px) {
  #works {
    width: 700px;
  }
}
